@font-face {
  font-family: 'manropeextralight';
  src: url('manrope-variablefont_wght-webfont.woff2') format('woff2'),
       url('manrope-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'lemon_milklight';
  src: url('lemonmilk-light-webfont.woff2') format('woff2'),
       url('lemonmilk-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'lemon_milkbold';
  src: url('lemonmilk-bold-webfont.woff2') format('woff2'),
       url('lemonmilk-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


body {

    background-color: #FBF1F0;
  }

  h1 {
    font-family: 'lemon_milkbold', sans-serif;
  }

  h2 {
    font-family:'lemon_milklight', sans-serif;
    border-bottom: 3px solid #F6D5D0;
  }
  h3 {
    font-family: 'lemon_milklight', sans-serif;
  }

  p {
    font-family: 'manropeextralight', sans-serif;
  }
  ul{
    font-family: 'manropeextralight', sans-serif;
  }

  .borderbox {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'lemon_milklight', sans-serif;
  }
  
  header {
    width: 80%;
     background-image: url("images/bannerbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border: 3px solid #cccc;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  header h1 {
    margin: 3;
    text-align: center;
  }
  
  #main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "about-me"
      "nav"
      "right-section";
    gap: 20px;
    padding: 20px;
  }
  
  #about-me {
    grid-area: about-me;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #fffafa;
    border: 1px solid #cccc;
    border-radius: 5px;
    padding: 20px;
    width: 82.5%;
    margin: 0 auto;
  }
  
  #about-me h2 {
    margin-top: 0;
  }
  
  #about-me img {
    display: block;
    margin: 0 auto;
    border: 1px solid #cccc;
  }
  
  nav {
    grid-area: nav;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #fffafa;
    border: 1px solid #cccc;
    border-radius: 5px;
    padding: 20px;
    width: 82.5%;
    margin: 0 auto;
  }
  
  nav h2 {
    margin-top: 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 10px;
  }
  
  nav a {
    display: block;
    padding: 5px;
    background-color: #FBF1F0;
    border: 1px solid #cccc;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #cccc;
  }
  
  #right-section {
    grid-area: right-section;
    background-color: #fffafa;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 0 auto;
    width: 82.5%;
  }
  
  #right-section h2,
  #right-section h3 {
    margin-top: 0;
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  @media (max-width: 768px) {
    header {
      width: 80%;
    }
    
    #main-content {
      grid-template-areas:
        "about-me"
        "right-section"
        "nav";
    }
    
    #about-me,
    nav,
    #right-section {
      width: 80%;
      margin: 0 auto;
    }
  }